#uwu{
    width: 150px;
}

.prin{
    background-color: rgb(249, 204, 212);
    border-style: solid;
    border-width: 1px;
    width: 500px;
}

.sec{
    background-color: rgb(249, 204, 212);
    border-style: solid;
    border-width: 1px;
    width: 300px;
    margin-left: 100px;

}

.ter{
    background-color: rgb(249, 204, 212);
    border-style: solid;
    border-width: 1px;
    width: 400px;
    margin-left: 100px;
}

#in{
    background-color: antiquewhite;
}

.six, .deb, .mv, #in, #alb{
    background-color: rgb(233, 173, 184);
    border-style: dotted;
    border-width: 1px;
    
}

.deb{
    margin-top: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    font-style: italic;
}

.mv{
    margin-top: 50px;
}

.titulo{
    display: flex;
    border: 1px solid rgb(215, 129, 145);
     background-color: rgb(215, 129, 145);
     margin-bottom: 50px;
}




body{
    background-color: rgb(228, 197, 156);
}

#io{
    display: flex;
    
    list-style: none;

}

 #integrantes, #albumes{
    margin-left: 20px;
}

#albumes{
    margin-right: 30px;
}

#menu{
    background-color: rgb(243, 176, 206);
    display: flex;
    
    list-style: none;
}

.ca{
    display: flex;
    justify-content: center;
}

.tod{
    display: flex;
    list-style: none;

}

.ji{
    margin-left: 500px;
}

#one{
    margin-left: 515px;
}

.m{
    margin-left: 370px;
    border-style: solid;
    border-color: rgb(243, 176, 206);
    border-width: 20px;
}